<div class="col-md-10 offset-md-1 mt-5 mb-5">
	<div class="card mt-4">
		<h4 class="card-header">
			Your Account Settings
		</h4>
		<div class="card-body">
			<bk-form-info-update [user]="user"></bk-form-info-update><hr>
			<bk-update-password [user]="user"></bk-update-password><hr>
			<bk-update-alias [user]="user"></bk-update-alias><hr>
			<div class="alert alert-danger"><button type="button" class="btn btn-danger" style="width:100%;" (click)="deleteAccount()">Delete Account & Logout <br>(login again to restore your account)</button></div>
		</div>
	</div>
</div>