<div class="col-md-10 offset-md-1 mt-5">
	<div class="card mt-4">
		<div class="card-header row">
			<div *ngFor="let tab of tabs" class="col-sm alert my-tab" [class.alert-secondary]="!tab.active"
				[class.active-tab]="tab.active">
				<a class="user-select-none my-button" (click)="tab.action()" [class.active-button]="tab.active">
					<fa-icon [icon]="tab.icon"></fa-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ tab.title }} <ng-container *ngIf="tab.unread && tab.unread > 0"><strong>{{ '('+tab.unread+')' }}</strong></ng-container>
				</a>
			</div>
		</div>
		<div class="line" [class.line-success]="tabActive == 'success'" [class.line-primary]="tabActive == 'primary'" [class.line-danger]="tabActive == 'danger'"></div>
		<div class="card-body">
			<ul *ngIf="displayEmails">
				<li *ngFor="let email of displayEmails" class="email-title">
					<div class="left">
						<ng-container *ngIf="email.read">
							<a [routerLink]="['/email', email._id]">{{ shorten(email.subject, 15) }}<span style="color: var(--gray); font-size: 1.5rem;">: {{ email.envelope.from }}</span></a>
						</ng-container>
						<ng-container *ngIf="!email.read">
							<strong><a [routerLink]="['/email', email._id]">{{ shorten(email.subject, 15) }}<span style="color: var(--gray); font-size: 1.5rem;">: {{ email.envelope.from }}</span></a></strong>
						</ng-container>
					</div>
					<div class="right">
						<div *ngIf="email.attachments > 0" style="display: inline-block; color: var(--gray); margin-right: 1rem;">{{ email.attachments }} file{{ email.attachments > 1 ? 's' : '' }}</div>
						<div style="display: inline-block; color: var(--gray); margin-right: 1rem;">{{ formatDate(email.createdAt) }}</div>
						<button *ngIf="!email.archived && !email.deleted" class="btn btn-warning"
							(click)="archiveEmail(email._id, email.subject)">
							<fa-icon [icon]="icons.faArchive"></fa-icon>
						</button>
						<button *ngIf="email.archived && !email.deleted" class="btn btn-primary"
							(click)="unarchiveEmail(email._id, email.subject)">
							<fa-icon [icon]="icons.faBoxOpen"></fa-icon>
						</button>&nbsp;
						<button *ngIf="!email.deleted" class="btn btn-danger"
							(click)="deleteEmail(email._id, email.subject)">
							<fa-icon [icon]="icons.faTrash"></fa-icon>
						</button>
						<button *ngIf="email.deleted" class="btn btn-primary"
							(click)="restoreEmail(email._id, email.subject)">
							<fa-icon [icon]="icons.faTrashRestore"></fa-icon>
						</button>
					</div>
				</li>
			</ul>
			<ul *ngIf="!displayEmails || !displayEmails[0]">Nothing to show</ul>
		</div>
	</div>
</div>