@import "./../../../scss/abstract/variables";

* {
	font-size: 2rem;
	line-height: 140%;
}

.card-header {
	padding: 0;
	border: 0;
}

.row {
	margin: 0;
}

.my-tab {
	margin: 0;
	border-radius: 0;
	border: 0;
}

.active-tab {
	border-bottom: 0;
}

.right {
	display: inline-block;
	margin-left: auto;
	
	@media (max-width: map-get($grid-breakpoints, lg)) {
		display: inherit;
		text-align: right;
	}
}

.left {
	display: inline-block;
	margin-right: auto;
	@media (max-width: map-get($grid-breakpoints, lg)) {
		display: inherit;
	}
}

.email-title {
	display: flex;
	align-items: space-between;
	padding: .5rem;
	border-radius: .3rem;
	@media (max-width: map-get($grid-breakpoints, lg)) {
		display: inherit;
	}

	&:nth-child(even) {
		background-color: #343a4022;
	}
	
	&:not(:last-child) {
		margin-bottom: 1rem;
	}
}

ul {
	padding: 0;
}

.line {
	height: .1rem;
	&-success {
		background-color: var(--success);
	}
	&-primary {
		background-color: var(--primary);
	}
	&-danger {
		background-color: var(--danger);
	}
}

a {
	color: inherit;

	&:hover,
	&:active,
	&:visited,
	&:link {
		color: inherit;
	}

	&:hover,
	&:active {
		color: var(--gray);
		transition: all 0.3s;
	}
}