<form class="mt-5">

	<div class="form" [formGroup]="form">
		<!-- Password -->
		<section class="form-group">
			<label for="password">Old Password</label>
			<input type="password" formControlName="password" class="form-control" id="password" placeholder="•••••••••">
		</section>
	
		<!-- new password -->
		<section class="form-group">
			<label for="newPassword">New Password</label>
			<input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="•••••••••">
		</section>
	
		<!-- new password confirm -->
		<section class="form-group">
			<label for="newPasswordConfirm">Confirm New Password</label>
			<input type="password" formControlName="newPasswordConfirm" class="form-control" id="newPasswordConfirm" placeholder="•••••••••">
		</section>
	</div>

	<div *ngIf="err" class="alert alert-danger" style="width:100%;">{{ err }}</div>
	<button type="submit" class="btn btn-warning" (click)="onSubmit()">Update & Logout</button>
</form>